/* Deturgent.css
are part of Deturgent landing page website
developed by: behance.net/justinjojas */

/* CSS Variables */

:root {
    --main: #11493e;
    --white: #fcfcfc;
  }

/* Animation Keyframes */
@keyframes slideInFromBelow {
    0% {
      transform: translateY(50%);
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes slideInFromAbove {
    0% {
      transform: translateY(-50%);
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(50%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-50%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }

/* Try navbar */
.sidebar {
    height:100%;
    width:200px;
    background-color:#fff;
    color: var(--main);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.sidebar-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1em;
}

.sidebar-wrapper a{
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
    padding-top: 1em;
}
.end{
    display: flex;
    width: 80%;
    padding-right: 1em;
    justify-content: flex-end;
}

.end button{
    background:none;
    border-style: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;

}



/* Style */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
    margin: 0px;
    transition: 0.3s ;
    overflow-x: hidden;
}

.home{
    width: 100%;
    background-color: var(--main);
    color: var(--white);
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.navbar{
    animation: 1s ease-in 0s 1 slideInFromAbove;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 10em 0em 10em;
}

.navbar button{
    padding: 0 4em;
    background:none;
    border-style: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

.navbar button a{
    text-decoration: none;
    color:var(--white);
    font-size: 14px;
    font-weight: 300;
    transition: 0.3s;
}

.navbar button a:hover{
    letter-spacing: 0.1em;
}

a:visited{
    color:inherit;
}

.read-more button{
    background:none;
    border-style: none;
    cursor: pointer;
    color: var(--main);
    font-size: 32px;
}

.body-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.content{
    animation: 1s ease-in 0s 1 slideInFromRight;
}

.content h1{
    font-size: 64px;
    font-weight: bold;
}

.content p{
    font-size: 24px;
    max-width: 18em;
    font-weight: 300;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container, .belimbing-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.belimbing-container{
    background-color: #fafafa;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0em 12em;
}

.right{
    justify-content: flex-end;
}

.text-wrapper h1{
    color: var(--main);
    font-size: 64px;
    font-weight: bold;
}

.text-wrapper p {
    font-size: 24px;
    font-weight: 300;
    max-width: 40em;
}

.value{
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.val-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 4em 10em;
}

.val-container i{
    font-size: 60px;
}

.val-container h2{
    font-size: 24px;
}


.product h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--main);
}

.product-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 2em;

}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    max-width: 20em;
    height: auto;
}

.product h1{
    font-size: 36px;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta h1{
    font-size: 48px;
    max-width: 10em;
    font-weight: bold;
    color: var(--main);
    margin-top: 4em;
}

.cta button{
    border-style: none;
    box-shadow: 0px 4px 23px rgba(165, 165, 165, 0.29);
    border-radius: 60px;
    background-color: #EFC88B;
    padding: 1em 3em;
    color: var(--main);
    cursor: pointer;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}

.cta button:hover{
    background-color: var(--main);
    color: var(--white);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    padding: 1em 20em;
    align-items: center;
    background-color: var(--main);
    color: var(--white);
}

.category p{
    max-width: 20em;
}
  
.image img{
    animation: 1s ease-in 0s 1 slideInFromBelow;
    height: 50em;
    min-height: 10em;

}

#menu-nav{
    display: none;
}


/* For mobile phones */
@media only screen and (max-width: 768px) {
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .navbar{
        width: 100%;
        justify-content: space-between; 
        padding: 1em 2em 0em 2em;
    }

    .body-content{
        flex-direction: column;
        align-content: center;
        text-align: center;  
    }

    .body-content .content h1{
        font-size: 24px;
    }

    .body-content .content p{
        font-size: 14px;
    }

    #logo-nav img{
        max-width: 10em;
    }

    .about-container img, .belimbing-container img{
        padding-top: 2em;
        max-width: 15em;
    }

    .text-wrapper{
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin: 3em;
    }

    .text-wrapper h1{
        font-size: 24px;
    }

    .text-wrapper p {
        font-size: 14px;
    }

    #menu-nav{
        display: block;
        text-align: end;
    }

    #text-nav{
        display: none;
    }
    
    .image img, .img-wrapper img{
        max-height: 20em;
        width: auto;
    }

    .about-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .belimbing-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .value{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .val-container{
        padding: 2em;
    }

    .val-container h2{
        font-weight: normal;
    }

    .product-carousel{
        display: block;
    }

    .img-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product h1{
        font-size: 24px;
    }

    .cta h1{
        font-size: 24px;
    }

    .cta button{
        font-size: 18px;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }
}
